html,
body,
#app,
#app>div {
  height: 100%
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#loading {
  animation-name: rotate;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}